/* Write your code at the bottom */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;

}

.top-wrapper {
  padding: 100px 0 50px 0;
  background-image: url(https://www.elationhealth.com/wp-content/uploads/2020/04/covid-19_financial_toolkit_hero_background.jpg);
  background-size: cover;
  color: white;
  text-align: right;
  height: auto;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}
 


.top-wrapper h1 {
  opacity: 10;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
 position: relative;
 -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
}

.top-wrapper p {
  opacity: 1.1;
  margin-top: 5px;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
}


.top-wrapper-img2 {
  width: 100%;
  height: 20%;
  background-image: url(https://www.bdpinternational.com/uploads/attachments/ck6axr5izcptnksqp75lnejn5-update-images4.0.130.2500.1406.max.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.btn-wrapper {
  text-align: center;
   margin: 20px 0 20px 0;
  
}

.btn-wrapper p {
  margin: 10px 0;;
}

.signup {
  
  margin: 30px 0 10px 0;
  color: rgb(212, 212, 212);
  text-align: left;
}

.facebook12 {
  background-color: #4e8fda !important; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 40px 10px 90px 10px;
}

.twitter12 {
  background-color: #cfcc25 !important; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 10px 90px 10px;
}

.information{
  background-color: #ee516b !important; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 10px 90px 10px;

}

.medical_supply{
    background-color: #30b896 !important; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 10px 90px 10px;

}

.guidelines{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;
}

.bed{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;

}

.oxygen{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;

}

.plasma{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;
}

.medicines{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;

}

.ngo { 
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;
}

.more-info {
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;
}

.doctor-helpline{
  color: rgb(212, 212, 212);
  margin: 30px 0 10px 0;
    text-align: left;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    text-align: left;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 22px;
  cursor: pointer;
  background-color: rgb(34, 49, 52, 0.9);
  color: white;
  padding: 1px 8px;
  border: none;
  margin-top: -30px;
  margin-left: -85px;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.icon-bar {
  position: absolute;
  top: 570%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}



.youtube {
  background: #bb0000;
  color: white;
}

/* .logo {
  width: 100%;
  height: 5vh;
  margin:  5px 0 60px 100px ;
  
} */

.header-left {
  float: left;
  margin-left: -100px;
}

.header-right {
  float: right;
  margin-right: -160px;
}
/* Navbar container */
/* .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin-right: -25px;
} */

/* Links inside the navbar */
/* .navbar a {
  float: left;
  font-size: 16px;
  color: rgb(206, 15, 15);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* The dropdown container */
/* .dropdown {
  float: left;
  overflow: hidden;
  padding: 8px 16px;
} */
.navbarItem{
  margin-right: 5%;
  /* margin-left: 10%; */
}
/* .navItemsSpace{
margin-left: 2%;
margin-right: 2%;
} */
/* Dropdown button */
/* .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; */

/* Add a red background color to navbar links on hover */
/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(231, 25, 25);
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0e0c0c;
  width: 100%;
  height: 35%;
  float: right;
  right: 0 ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 5px 2px 5px 2px;
  font-size: 20px;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}



/* Style links inside the columns */




/* Clear floats after the columns */
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* .hello img
{
  height: 20% !important;
} */

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}


.lesson-wrapper {
  width: 100%;
  height: auto;
    background-color: #f7f7f7;
  text-align: center;
  background-image: url(https://www.tmf-group.com/-/media/images/corporate-site/background-images/generic-website-imagery/covid19/coronavirus-1500x900.jpg) ;
 padding-top: 10px;
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 padding-bottom: 80px;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  text-align: center;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

#contacts{
  background-color: black;
}

.deco {
  text-decoration: none !important;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.message {
  /* padding: 15px 40px; */
  /* background-color: #5dca88 !important; */
  cursor: pointer;
  /* box-shadow: 0 7px #1a7940; */
  text-decoration: none !important;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
.footer-about {
  text-align: left;
  color:#3B5998;
  font-family: fantasy;
  font-size: 20px;
  padding-left: 50px;

}

.footer-text {
  color:#1a7940;
  
}
 


footer {
  padding-top: 30px;
  padding-bottom: 20px
}

/* Write your code below */
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

